################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HidCerberus/v15
/build/obj
/HidCerberus/.vs/HidCerberus/v15
/HidCerberus/obj/Debug
/HidCerberus/obj
